<h1>Login form</h1>


<form #LoginForm="ngForm" (ngSubmit)="onSubmit(LoginForm)">
  <div>
    <label>First name</label>
    <input type="text" name="firstname" ngModel required #firstname maxlength="20"/>
   
  </div>
  <div>
    <label>Last name</label>
    <input type="text" name="lastname" ngModel minlength="3"/>
  </div>
  <div>
    <label>Email</label>
    <input type="email" name="email" ngModel required email />
  </div>
  <div>
    <label>Gender</label>
    <input type="radio" value="Male" name="gender" ngModel />Male
    <input type="radio" value="Female" name="gender" ngModel />Female
  </div>
  <button type="submit">Login</button>
</form>
